Repository syntropy-cc/syntropy-cooperative-grid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @syntropy-cc/core-team, @syntropy-cc/infrastructure-team, @syntropy-cc/platform-team, @syntropy-cc/devops-team, @syntropy-cc/backend-team, @syntropy-cc/security-team, @syntropy-cc/blockchain-team, @syntropy-cc/mobile-team, @syntropy-cc/frontend-team, @syntropy-cc/docs-team, @syntropy-cc/legal-team

delete(docs): remove outdated architecture documentation files
  docs/architecture/ANALYSIS-SUMMARY.md
  docs/architecture/FINAL-SUMMARY.md
  docs/architecture/INTEGRATION-COMPLETE.md
  docs/architecture/MVP-CORRECTIONS.md
  docs/architecture/MVP.md
  docs/architecture/ORCHESTRATION-SUMMARY.md
  docs/architecture/README.md
  docs/architecture/WORKLOAD-COMPONENT-SPEC.md
  docs/mvp/MVP.md
  docs/mvp/README.md
  docs/mvp/components/management.md
  docs/mvp/components/node-creation.md
  docs/mvp/components/orchestration.md
  docs/mvp/components/registration.md
  docs/mvp/components/setup.md
  docs/mvp/components/workload.md
Owners: @syntropy-cc/docs-team

feat(docs): enhance MVP documentation and unify components
  docs/mvp/MVP.md
  docs/mvp/README.md
  docs/mvp/components/management.md
  docs/mvp/components/node-creation.md
  docs/mvp/components/node.md
  docs/mvp/components/orchestration.md
  docs/mvp/components/registration.md
  docs/mvp/components/setup.md
  docs/mvp/components/workload.md
  manager/interfaces/cli/setup/GUIDE.md
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/docs-team, @syntropy-cc/core-team

feat(cli): implement Grid Token management commands
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/main.go
  manager/interfaces/cli/setup/go.mod
  manager/interfaces/cli/setup/go.sum
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/token_management.go
  manager/interfaces/cli/setup/src/token_manager.go
  manager/interfaces/cli/setup/tests/integration/token_manager_integration_test.go
  manager/interfaces/cli/setup/tests/unit/token_manager_test.go
  manager/interfaces/cli/syntropy-cli
Owners: @syntropy-cc/core-team

refactor(cli): update SSH key management and token integration
  CORREÇÕES_IMPLEMENTADAS.md
  manager/interfaces/cli/node/src/auto_config_generator.go
  manager/interfaces/cli/node/src/implementations.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/node/src/ssh_key_provider.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/tests/CORREÇÕES_TESTES.md
  manager/interfaces/cli/setup/tests/integration/token_manager_integration_test.go
  manager/interfaces/cli/setup/tests/unit/token_manager_test.go
Owners: @syntropy-cc/core-team

feat(cli): introduce Node component for enhanced management
  manager/interfaces/cli/BUILD_AND_TEST.md
  manager/interfaces/cli/build.bat
  manager/interfaces/cli/build.sh
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/main.go
  manager/interfaces/cli/node/go.mod
  manager/interfaces/cli/node/go.sum
  manager/interfaces/cli/node/src/auto_config_generator.go
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/cloud_init_generator.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/handshake.go
  manager/interfaces/cli/node/src/heartbeat.go
  manager/interfaces/cli/node/src/implementations.go
  manager/interfaces/cli/node/src/internal/helpers/helpers.go
  manager/interfaces/cli/node/src/iso_downloader.go
  manager/interfaces/cli/node/src/listener.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/node_state.go
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/node/src/ssh_key_provider.go
  manager/interfaces/cli/node/src/token_integration.go
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_detector_linux.go
  manager/interfaces/cli/node/src/usb_detector_macos.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/node/src/usb_writer.go
  manager/interfaces/cli/node/src/usb_writer_linux.go
  manager/interfaces/cli/node/src/usb_writer_macos.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
  manager/interfaces/cli/node/tests/unit/node_api_test.go
  manager/interfaces/cli/node/tests/unit/node_validation_test.go
  manager/interfaces/cli/scripts/linux/install-syntropy.sh
  manager/interfaces/cli/scripts/shared/build-and-test.bat
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
  manager/interfaces/cli/setup/src/token_management.go
Owners: @syntropy-cc/core-team

refactor(cli): remove Node component integration and add placeholder commands
  manager/interfaces/cli/NODE_INTEGRATION_SUMMARY.md
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/main.go
Owners: @syntropy-cc/core-team

feat(cli): enhance token management and directory structure
  manager/interfaces/cli/node/go.mod
  manager/interfaces/cli/node/go.sum
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/node/tests/integration/simple_token_test.go
  manager/interfaces/cli/node/tests/integration/token_loading_test.go
  manager/interfaces/cli/setup/src/configurator.go
  manager/interfaces/cli/setup/src/token_manager.go
  manager/interfaces/cli/setup/tests/integration/token_directory_test.go
  manager/interfaces/cli/setup/tests/unit/configurator_test.go
Owners: @syntropy-cc/core-team

feat(cli): enhance setup management with backup and owner key functionalities
  manager/interfaces/cli/main.go
  manager/interfaces/cli/main.go.backup
  manager/interfaces/cli/setup/src/internal/types/errors.go
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/syntropy
Owners: @syntropy-cc/core-team

feat(cli): enhance cloud-init and key management with encryption
  infrastructure/cloud-init/scripts/secure-token-setup.sh
  infrastructure/node-agent/src/security/token_manager.go
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/node/go.mod
  manager/interfaces/cli/node/go.sum
  manager/interfaces/cli/node/src/cloud_init_generator.go
  manager/interfaces/cli/node/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/go.mod
  manager/interfaces/cli/setup/go.sum
  manager/interfaces/cli/setup/src/crypto_utils.go
  manager/interfaces/cli/setup/src/integrity.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/secure_memory.go
  manager/interfaces/cli/setup/src/security_audit.go
  manager/interfaces/cli/setup/src/token_manager.go
Owners: @syntropy-cc/infrastructure-team, @syntropy-cc/core-team

feat(cli): refactor key management to utilize keyring for secure storage
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/owner_key_keyring_manager.go
Owners: @syntropy-cc/core-team

feat(cli): update key management commands and improve private key handling
  manager/interfaces/cli/cli
  manager/interfaces/cli/main.go
  manager/interfaces/cli/setup/src/owner_key_keyring_manager.go
  manager/interfaces/cli/setup/src/setup.go
Owners: @syntropy-cc/core-team

feat(cli): implement passphrase management and key migration functionality
  manager/interfaces/cli/cli
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/main.go
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
  manager/interfaces/cli/setup/go.mod
  manager/interfaces/cli/setup/go.sum
  manager/interfaces/cli/setup/src/configurator.go
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/passphrase_manager.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/types.go
Owners: @syntropy-cc/core-team

feat(cli): integrate Node component and enhance CLI command structure
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/main.go
  manager/interfaces/cli/node/go.mod
  manager/interfaces/cli/node/src/auto_config_generator.go
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/cloud_init_generator.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/handshake.go
  manager/interfaces/cli/node/src/heartbeat.go
  manager/interfaces/cli/node/src/implementations.go
  manager/interfaces/cli/node/src/internal/helpers/helpers.go
  manager/interfaces/cli/node/src/iso_downloader.go
  manager/interfaces/cli/node/src/listener.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/node_state.go
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/node/src/ssh_key_provider.go
  manager/interfaces/cli/node/src/token_integration.go
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_detector_linux.go
  manager/interfaces/cli/node/src/usb_detector_macos.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/node/src/usb_writer.go
  manager/interfaces/cli/node/src/usb_writer_linux.go
  manager/interfaces/cli/node/src/usb_writer_macos.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
  manager/interfaces/cli/syntropy-test
Owners: @syntropy-cc/core-team

refactor(cli): update Linux USB detector and writer to return nil for non-Linux platforms
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_writer.go
Owners: @syntropy-cc/core-team

feat(cli): enhance token existence check and keyring integration
  manager/interfaces/cli/node/src/setup_adapter.go
  test_token_fix.go
Owners: @syntropy-cc/core-team

feat(cli): update dependencies and enhance token management in Node component
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/node/go.mod
  manager/interfaces/cli/node/go.sum
  manager/interfaces/cli/node/src/auto_config_generator.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/syntropy-test
Owners: @syntropy-cc/core-team

feat(cli): enhance logging and token management in Node component
  manager/interfaces/cli/node/src/implementations.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/setup_adapter.go
  manager/interfaces/cli/node/src/token_integration.go
  manager/interfaces/cli/node/tests/integration/token_loading_test.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/syntropy-test-corrected
  manager/interfaces/cli/syntropy-test-new
Owners: @syntropy-cc/core-team

feat(cli): enhance owner key management with comprehensive existence checks
  manager/interfaces/cli/setup/src/owner_key_keyring_manager.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/syntropy
Owners: @syntropy-cc/core-team

refactor(cli): improve home directory handling and permissions checks
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/iso_downloader.go
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/core-team

feat(cli): add setup component validation and improve error handling
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/iso_downloader.go
Owners: @syntropy-cc/core-team

feat(cli): add USB device listing functionality to node creation command
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_detector_linux.go
  manager/interfaces/cli/node/src/usb_detector_macos.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
Owners: @syntropy-cc/core-team

refactor(cli): extend timeout durations for handshake and connection processes
  manager/interfaces/cli/node/src/handshake.go
  manager/interfaces/cli/node/src/internal/constants/constants.go
  manager/interfaces/cli/node/src/listener.go
  manager/interfaces/cli/node/src/node_state.go
Owners: @syntropy-cc/core-team

feat(cli): add listener status command and enhance registration process
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/implementations.go
  manager/interfaces/cli/node/src/internal/types/interfaces.go
  manager/interfaces/cli/node/src/node.go
Owners: @syntropy-cc/core-team

refactor(cli): consolidate listener commands into a single command structure
  manager/interfaces/cli/node/src/cli.go
Owners: @syntropy-cc/core-team

feat(cli): enhance node creation and validation processes
  manager/interfaces/cli/node/COMPLETION_SUMMARY.md
  manager/interfaces/cli/node/IMPLEMENTATION_STATUS.md
  manager/interfaces/cli/node/IMPROVEMENTS.md
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/node_state.go
  manager/interfaces/cli/node/tests/analysis.md
Owners: @syntropy-cc/core-team

feat(cli): improve USB device handling and error feedback during node creation
  manager/interfaces/cli/node/FINAL_REPORT.md
Owners: @syntropy-cc/core-team

feat(cli): remove outdated documentation files and streamline implementation status reporting
  manager/interfaces/cli/node/COMPLETION_SUMMARY.md
  manager/interfaces/cli/node/FINAL_REPORT.md
  manager/interfaces/cli/node/IMPLEMENTATION_STATUS.md
  manager/interfaces/cli/node/IMPROVEMENTS.md
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/node_state.go
  manager/interfaces/cli/node/tests/analysis.md
Owners: @syntropy-cc/core-team

feat(cli): add ISO management commands and enhance download functionality
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/internal/types/interfaces.go
  manager/interfaces/cli/node/src/iso_downloader.go
  manager/interfaces/cli/setup/src/config/templates/manager.yaml
Owners: @syntropy-cc/core-team

feat(cli): add skip ISO validation option and enhance ISO download process
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/internal/types/interfaces.go
  manager/interfaces/cli/node/src/iso_downloader.go
Owners: @syntropy-cc/core-team

feat(cli): enhance cloud-init configuration generation and script embedding
  infrastructure/cloud-init/user-data-template.yaml
  manager/interfaces/cli/node/src/cloud_init_generator.go
  manager/interfaces/cli/node/src/internal/constants/constants.go
  manager/interfaces/cli/node/src/project_resource_manager.go
  manager/interfaces/cli/setup/src/configurator.go
Owners: @syntropy-cc/infrastructure-team, @syntropy-cc/core-team

feat(cli): add command to list cached ISOs and enhance ISO management
  manager/interfaces/cli/node/EXEMPLO_USO_SEM_VALIDACAO.md
  manager/interfaces/cli/node/ISO_CACHE_IMPROVEMENT.md
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/iso_cache_test.go
  manager/interfaces/cli/node/src/iso_downloader.go
  manager/interfaces/cli/node/src/usb_writer.go
  manager/interfaces/cli/node/src/usb_writer_test.go
Owners: @syntropy-cc/core-team

feat(cli): enhance USB device validation and management across platforms
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/node/src/usb_writer.go
  manager/interfaces/cli/node/src/usb_writer_linux.go
  manager/interfaces/cli/node/src/usb_writer_macos.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
  manager/interfaces/cli/node/syntropy-test
  manager/interfaces/cli/syntropy-node
Owners: @syntropy-cc/core-team

feat(cli): enhance USB writing process with improved device selection and error handling
  manager/interfaces/cli/node/DEVICE_SELECTION_IMPROVEMENT.md
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/device_selection_test.go
  manager/interfaces/cli/node/src/project_resource_manager.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/core-team

feat(cli): enforce manual USB device selection with enhanced validation
  interfaces/cli/internal/cli/usb/commands.go
  interfaces/cli/internal/cli/usb/windows-only.go
  manager/interfaces/cli/node/src/cli.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/device_selection_test.go
  manager/interfaces/cli/node/src/types.go
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_detector_linux.go
  manager/interfaces/cli/node/src/usb_detector_macos.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/node/src/usb_writer.go
  manager/interfaces/cli/node/src/usb_writer_linux.go
  manager/interfaces/cli/node/src/usb_writer_macos.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
Owners: @syntropy-cc/core-team

feat(cli): enhance platform detection and USB device validation
  interfaces/cli/internal/cli/usb/platform.go
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/node.go
  manager/interfaces/cli/node/src/usb_detector.go
  manager/interfaces/cli/node/src/usb_detector_linux.go
  manager/interfaces/cli/node/src/usb_detector_macos.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/scripts/linux/install-syntropy.sh
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/core-team

feat(cli): enhance USB device mounting and unmounting with PowerShell support
  manager/interfaces/cli/node/src/usb_writer_windows.go
Owners: @syntropy-cc/core-team

feat(cli): enhance USB device formatting and validation process
  manager/interfaces/cli/node/src/create.go
  manager/interfaces/cli/node/src/usb_detector_windows.go
  manager/interfaces/cli/node/src/usb_writer_windows.go
Owners: @syntropy-cc/core-team

.github/CODEOWNERS:

# Global owners
* @syntropy-cc/core-team

# Infrastructure
/infrastructure/ @syntropy-cc/infrastructure-team
/platform/ @syntropy-cc/platform-team
/scripts/ @syntropy-cc/devops-team

# Services
/services/ @syntropy-cc/backend-team
/services/security/ @syntropy-cc/security-team
/services/blockchain/ @syntropy-cc/blockchain-team

# Mobile
/mobile/ @syntropy-cc/mobile-team
/sdk/mobile/ @syntropy-cc/mobile-team

# Web
/web/ @syntropy-cc/frontend-team

# Documentation
/docs/ @syntropy-cc/docs-team
README.md @syntropy-cc/docs-team
CONTRIBUTING.md @syntropy-cc/docs-team

# Security
SECURITY.md @syntropy-cc/security-team
/tools/security/ @syntropy-cc/security-team

# Legal
/legal/ @syntropy-cc/legal-team
