Repository syntropy-cc/syntropy-cooperative-grid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @syntropy-cc/core-team, @syntropy-cc/infrastructure-team, @syntropy-cc/platform-team, @syntropy-cc/devops-team, @syntropy-cc/backend-team, @syntropy-cc/security-team, @syntropy-cc/blockchain-team, @syntropy-cc/mobile-team, @syntropy-cc/frontend-team, @syntropy-cc/docs-team, @syntropy-cc/legal-team

feat: add project state and summary documentation
  .syntropy-project-state
  PROJECT_SUMMARY.md
Owners: @syntropy-cc/core-team

feat: Add Syntropy management environment setup script
  WORK_DIARY.md
  scripts/bootstrap/create-syntropy-usb-enhanced.sh
  scripts/bootstrap/genesis-setup.sh
  scripts/bootstrap/setup-syntropy-management.sh
  scripts/bootstrap/syntropy-manager.sh
Owners: @syntropy-cc/core-team, @syntropy-cc/devops-team

feat: Update script permissions for enhanced USB creator and management setup
  scripts/bootstrap/create-syntropy-usb-enhanced.sh
  scripts/bootstrap/setup-syntropy-management.sh
  scripts/bootstrap/syntropy-manager.sh
Owners: @syntropy-cc/devops-team

Implement feature X to enhance user experience and fix bug Y in module Z
  scripts/bootstrap/create-syntropy-usb-enhanced.sh
Owners: @syntropy-cc/devops-team

Implement security and USB management scripts for Syntropy Cooperative Grid
  .gitignore
  scripts/bootstrap/lib/cloud-init.sh
  scripts/bootstrap/lib/colors.sh
  scripts/bootstrap/lib/config.sh
  scripts/bootstrap/lib/geographic.sh
  scripts/bootstrap/lib/iso-management.sh
  scripts/bootstrap/lib/logging.sh
  scripts/bootstrap/lib/management-scripts.sh
  scripts/bootstrap/lib/security.sh
  scripts/bootstrap/lib/usb-detection.sh
  scripts/bootstrap/lib/usb-preparation.sh
Owners: @syntropy-cc/core-team, @syntropy-cc/devops-team

feat: Implement enhanced ISO management and USB installation scripts
  scripts/bootstrap/create-syntropy-usb-enhanced.sh
  scripts/bootstrap/install-prerequisites.sh
  scripts/bootstrap/lib/cloud-init-fixed.sh
  scripts/bootstrap/lib/iso-management-fixed.sh
  scripts/bootstrap/lib/logging.sh
  scripts/bootstrap/lib/progress.sh
  scripts/bootstrap/lib/usb-detection.sh
  scripts/bootstrap/lib/wsl-usb-detection.sh
  scripts/bootstrap/quick-start.sh
Owners: @syntropy-cc/devops-team

feat: Atualizar documentação e scripts de gerenciamento do Syntropy Cooperative Grid
  CONTRIBUTING.md
  Makefile
  README.md
  core/go.mod
  core/services/node/service.go
  core/services/services/node/service.go
  core/types/constants/constants.go
  core/types/errors/errors.go
  core/types/models/container.go
  core/types/models/cooperative.go
  core/types/models/network.go
  core/types/models/node.go
  docker-compose.yml
  docs/architecture/README.md
  docs/development/README.md
  docs/management-system/README.md
  docs/management-system/mvp-cli-roadmap.md
  docs/management-system/roadmap-detailed.md
  docs/roadmap/README.md
  go.mod
  interfaces/cli/cmd/main.go
  interfaces/cli/go.mod
  interfaces/cli/internal/cli/config.go
  interfaces/cli/internal/cli/container.go
  interfaces/cli/internal/cli/cooperative.go
  interfaces/cli/internal/cli/network.go
  interfaces/cli/internal/cli/node.go
  interfaces/desktop/electron/package.json
  interfaces/mobile/flutter/pubspec.yaml
  interfaces/web/backend/go.mod
  interfaces/web/frontend/package.json
  rules/README.md
  rules/management-system.md
  scripts/bootstrap/create-syntropy-usb-enhanced.sh
  scripts/bootstrap/lib/usb-detection.sh
  scripts/bootstrap/lib/usb-detection.sh.backup.20250922_132902
  scripts/bootstrap/quick-start.sh
  scripts/bootstrap/validate-libs.sh
Owners: @syntropy-cc/docs-team, @syntropy-cc/core-team, @syntropy-cc/devops-team

feat: Atualizar documentação e scripts de gerenciamento do Syntropy Cooperative Grid
  core/services/node/service.go
  core/types/models/node.go
  docs/architecture/README.md
  docs/development/README.md
  docs/management-system/ARCHITECTURE.md
  docs/roadmap/README.md
  interfaces/cli/IMPLEMENTATION_SUMMARY.md
  interfaces/cli/internal/cli/usb/usb.go
  interfaces/desktop/electron/package.json
  interfaces/mobile/flutter/pubspec.yaml
  interfaces/web/backend/go.mod
  interfaces/web/frontend/package.json
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

feat: reorganizar estrutura do projeto e remover arquivos obsoletos
  ARCHITECTURE_ALIGNMENT_SUMMARY.md
  core/iac/go.mod
  core/iac/key_manager.go
  core/iac/template_manager.go
  core/services/usb/README.md
  core/services/usb/creator.go
  core/services/usb/go.mod
  core/usb/creator.go
  docs/README.md
  docs/architecture/README.md
  docs/cli-usb-guide.md
  docs/cloud-init-architecture.md
  docs/implementation-summary.md
  docs/installation-scripts.md
  infrastructure/cloud-init/meta-data-template.yaml
  infrastructure/cloud-init/network-config-template.yaml
  infrastructure/cloud-init/scripts/cluster-join.sh
  infrastructure/cloud-init/scripts/hardware-detection.sh
  infrastructure/cloud-init/scripts/network-discovery.sh
  infrastructure/cloud-init/scripts/syntropy-install.sh
  infrastructure/cloud-init/user-data-template.yaml
  infrastructure/go.mod
  infrastructure/go.sum
  infrastructure/key_manager.go
  infrastructure/template_manager.go
  interfaces/cli/go.mod
  interfaces/cli/go.sum
  interfaces/cli/internal/cli/root.go
  interfaces/cli/internal/cli/setup.go
  interfaces/cli/internal/cli/usb/CHANGELOG.md
  interfaces/cli/internal/cli/usb/README.md
  interfaces/cli/internal/cli/usb/certificates.go
  interfaces/cli/internal/cli/usb/cloudinit.go
  interfaces/cli/internal/cli/usb/commands.go
  interfaces/cli/internal/cli/usb/linux.go
  interfaces/cli/internal/cli/usb/platform.go
  interfaces/cli/internal/cli/usb/types.go
  interfaces/cli/internal/cli/usb/usb.go
  interfaces/cli/internal/cli/usb/utils.go
  interfaces/cli/internal/cli/usb/windows.go
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team, @syntropy-cc/infrastructure-team

feat: aprimorar scripts de criação de USB com melhorias de verificação e tratamento de erros
  interfaces/cli/internal/cli/usb/GUIA_WINDOWS.md
  interfaces/cli/internal/cli/usb/README_WINDOWS.md
  interfaces/cli/internal/cli/usb/SOLUCAO_ERROS.md
  interfaces/cli/internal/cli/usb/setup-windows.ps1
  interfaces/cli/internal/cli/usb/windows-commands.go
  interfaces/cli/internal/cli/usb/windows-only.go
  interfaces/cli/internal/cli/usb/windows.go
Owners: @syntropy-cc/core-team

feat: aprimorar mensagens de feedback e formatação nos scripts de criação de USB
  interfaces/cli/internal/cli/usb/windows-only.go
  interfaces/cli/internal/cli/usb/windows.go
Owners: @syntropy-cc/core-team

feat: adicionar regras para geração de guias de desenvolvimento
  manager/GUIDE.md
  manager/api/README.md
  manager/api/handlers/README.md
  manager/api/middleware/README.md
  manager/api/routes/README.md
  manager/config/README.md
  manager/core/README.md
  manager/core/network/README.md
  manager/core/reconciliation/README.md
  manager/core/state/README.md
  manager/core/workload/README.md
  manager/interfaces/README.md
  manager/interfaces/cli/GUIDE.md
  manager/interfaces/cli/README.md
  manager/interfaces/desktop/README.md
  manager/interfaces/mobile/README.md
  manager/interfaces/web/README.md
  manager/pkg/README.md
  manager/pkg/client/README.md
  manager/pkg/types/README.md
  manager/pkg/utils/README.md
  rules/README.md
  rules/guide-generation.md
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

feat: adicionar melhorias na geração de guias de desenvolvimento
  manager/interfaces/cli/setup/GUIDE.md
  manager/interfaces/cli/setup/SIMPLE_STRUCTURE.md
  manager/interfaces/cli/setup/TODO.md
Owners: @syntropy-cc/core-team

feat(setup): add initial setup component for CLI manager
  go.mod
  go.sum
  manager/interfaces/cli/setup/README.md
  manager/interfaces/cli/setup/TESTE_RESULTADOS.md
  manager/interfaces/cli/setup/config/templates/manager.yaml.tmpl
  manager/interfaces/cli/setup/config/templates/service_windows.ps1.tmpl
  manager/interfaces/cli/setup/config/templates/startup.ps1.tmpl
  manager/interfaces/cli/setup/configuration_linux.go
  manager/interfaces/cli/setup/configuration_windows.go
  manager/interfaces/cli/setup/internal/types/config.go
  manager/interfaces/cli/setup/internal/types/setup.go
  manager/interfaces/cli/setup/internal/types/validation.go
  manager/interfaces/cli/setup/setup.go
  manager/interfaces/cli/setup/setup_linux.go
  manager/interfaces/cli/setup/setup_test.go
  manager/interfaces/cli/setup/setup_windows.go
  manager/interfaces/cli/setup/tests/linux_test.go
  manager/interfaces/cli/setup/tests/unit/DOC.md
  manager/interfaces/cli/setup/tests/unit/README.md
  manager/interfaces/cli/setup/tests/unit/configuration_linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
  manager/interfaces/cli/setup/tests/unit/validation_linux_test.go
  manager/interfaces/cli/setup/validation_linux.go
  manager/interfaces/cli/setup/validation_windows.go
  rules/documentation.md
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

feat(cli): atualizar dependências e expandir documentação do Syntropy CLI Manager
  go.mod
  go.sum
  manager/interfaces/cli/BUILD_AND_TEST.md
  manager/interfaces/cli/Makefile
  manager/interfaces/cli/README.md
  manager/interfaces/cli/build.ps1
  manager/interfaces/cli/build.sh
  manager/interfaces/cli/main.go
  manager/interfaces/cli/setup/COMPILACAO_E_TESTE.md
  manager/interfaces/cli/setup/RESUMO_EXECUTIVO.md
  manager/interfaces/cli/setup/build.ps1
  manager/interfaces/cli/setup/build.sh
  manager/interfaces/cli/setup/configuration_linux.go
  manager/interfaces/cli/setup/configuration_windows.go
  manager/interfaces/cli/setup/internal/types/config.go
  manager/interfaces/cli/setup/internal/types/setup.go
  manager/interfaces/cli/setup/internal/types/validation.go
  manager/interfaces/cli/setup/setup.go
  manager/interfaces/cli/setup/setup_linux.go
  manager/interfaces/cli/setup/setup_test.go
  manager/interfaces/cli/setup/setup_windows.go
  manager/interfaces/cli/setup/tests/linux_test.go
  manager/interfaces/cli/setup/tests/unit/configuration_linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
  manager/interfaces/cli/setup/tests/unit/validation_linux_test.go
  manager/interfaces/cli/setup/validation_linux.go
  manager/interfaces/cli/setup/validation_windows.go
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

feat(setup): remover scripts de build obsoletos para Windows e Linux
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/build.ps1
  manager/interfaces/cli/setup/build.sh
Owners: @syntropy-cc/core-team

feat(api): expandir documentação da API Central e integrar com o componente de setup
  manager/api/README.md
  manager/api/handlers/config/config_handler.go
  manager/api/handlers/config/setup_handler.go
  manager/api/handlers/config/validation_handler.go
  manager/api/middleware/logger.go
  manager/api/services/config/config_service.go
  manager/api/services/config/setup_service.go
  manager/api/services/validation/compatibility/compatibility_validator.go
  manager/api/services/validation/dependencies/dependencies_validator.go
  manager/api/services/validation/environment/environment_validator.go
  manager/api/services/validation/performance/performance_validator.go
  manager/api/services/validation/security/security_validator.go
  manager/api/services/validation/validation_service.go
  manager/api/tests/integration/setup_integration_test.go
  manager/api/types/common.go
  manager/api/types/config.go
  manager/api/types/setup.go
  manager/api/types/validation.go
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/api_integration.go
  manager/interfaces/cli/setup/setup.go
  rules/documentation.md
Owners: @syntropy-cc/docs-team, @syntropy-cc/core-team

docs(setup): add comprehensive documentation for CLI setup component
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/README.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

refactor(cli): restructure setup component and update dependencies
  go.mod
  go.sum
  manager/api/handlers/config/config_handler.go
  manager/api/handlers/config/setup_handler.go
  manager/api/handlers/config/validation_handler.go
  manager/api/services/config/config_service.go
  manager/api/services/config/setup_service.go
  manager/api/services/validation/compatibility/compatibility_validator.go
  manager/api/services/validation/dependencies/dependencies_validator.go
  manager/api/services/validation/environment/environment_validator.go
  manager/api/services/validation/performance/performance_validator.go
  manager/api/services/validation/security/security_validator.go
  manager/api/services/validation/validation_service.go
  manager/api/tests/integration/setup_integration_test.go
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/src/api_integration.go
  manager/interfaces/cli/setup/src/configuration_linux.go
  manager/interfaces/cli/setup/src/configuration_windows.go
  manager/interfaces/cli/setup/src/internal/types/config.go
  manager/interfaces/cli/setup/src/internal/types/setup.go
  manager/interfaces/cli/setup/src/internal/types/validation.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/setup_linux.go
  manager/interfaces/cli/setup/src/setup_test.go
  manager/interfaces/cli/setup/src/setup_windows.go
  manager/interfaces/cli/setup/src/validation_linux.go
  manager/interfaces/cli/setup/src/validation_windows.go
  manager/interfaces/cli/setup/tests/unit/linux_test.go
  rules/documentation.md
Owners: @syntropy-cc/core-team

refactor(cli): reorganize setup package structure and improve error handling
  manager/api/services/config/config_service.go
  manager/api/types/config.go
  manager/api/types/setup.go
  manager/api/types/validation.go
  manager/interfaces/cli/main.go
  manager/interfaces/cli/setup/src/api_integration.go
  manager/interfaces/cli/setup/src/configuration_linux.go
  manager/interfaces/cli/setup/src/internal/types/setup.go
  manager/interfaces/cli/setup/src/setup_linux.go
  manager/interfaces/cli/setup/src/setup_test.go
  manager/interfaces/cli/setup/src/validation_linux.go
  rules/test-suite.rules.md
Owners: @syntropy-cc/core-team

test: add comprehensive test suite for setup component
  manager/interfaces/cli/setup/tests/TEST_SUITE_SUMMARY.md
  manager/interfaces/cli/setup/tests/coverage.out
  manager/interfaces/cli/setup/tests/e2e/setup_workflow_test.go
  manager/interfaces/cli/setup/tests/fixtures/test_data.go
  manager/interfaces/cli/setup/tests/go.mod
  manager/interfaces/cli/setup/tests/go.sum
  manager/interfaces/cli/setup/tests/helpers/benchmark_helpers.go
  manager/interfaces/cli/setup/tests/helpers/test_helpers.go
  manager/interfaces/cli/setup/tests/integration/api_integration_test.go
  manager/interfaces/cli/setup/tests/integration/configuration_test.go
  manager/interfaces/cli/setup/tests/mocks/api_mock.go
  manager/interfaces/cli/setup/tests/mocks/filesystem_mock.go
  manager/interfaces/cli/setup/tests/mocks/setup_mock.go
  manager/interfaces/cli/setup/tests/performance/load_test.go
  manager/interfaces/cli/setup/tests/security/security_test.go
  manager/interfaces/cli/setup/tests/types/types.go
  manager/interfaces/cli/setup/tests/unit/DOC.md
  manager/interfaces/cli/setup/tests/unit/README.md
  manager/interfaces/cli/setup/tests/unit/configuration_linux_test.go
  manager/interfaces/cli/setup/tests/unit/linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_linux_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
  manager/interfaces/cli/setup/tests/unit/validation_linux_test.go
  rules/test-suite.rules.md
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

build(cli): add go.mod file and update setup test documentation
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/docs/TEST.md
  manager/interfaces/cli/setup/tests/TEST.md
Owners: @syntropy-cc/core-team

build(cli): update go.mod dependencies and remove test modules
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/setup/tests/go.mod
  manager/interfaces/cli/setup/tests/go.sum
  rules/code-best-practices.rules.md
  rules/test-suite.rules.md
Owners: @syntropy-cc/core-team

feat(setup): adicionar exemplos e scripts de automação ao componente de setup
  manager/interfaces/cli/setup/TODO.md
Owners: @syntropy-cc/core-team

feat(setup): concluir implementação de exemplos e scripts de automação
  manager/interfaces/cli/setup/TESTING_IMPROVEMENTS_REPORT.md
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/examples/advanced-setup/README.md
  manager/interfaces/cli/setup/examples/advanced-setup/custom-config.yaml
  manager/interfaces/cli/setup/examples/advanced-setup/environment-variables.env
  manager/interfaces/cli/setup/examples/advanced-setup/network-topology.yaml
  manager/interfaces/cli/setup/examples/basic-setup/README.md
  manager/interfaces/cli/setup/examples/basic-setup/config-example.yaml
  manager/interfaces/cli/setup/examples/basic-setup/setup-basic.ps1
  manager/interfaces/cli/setup/examples/basic-setup/setup-basic.sh
  manager/interfaces/cli/setup/examples/validation-tests/README.md
  manager/interfaces/cli/setup/examples/validation-tests/performance-test.sh
  manager/interfaces/cli/setup/examples/validation-tests/test-environment.sh
  manager/interfaces/cli/setup/scripts/automation/backup-config.sh
  manager/interfaces/cli/setup/scripts/automation/cleanup.sh
  manager/interfaces/cli/setup/scripts/automation/restore-config.sh
  manager/interfaces/cli/setup/scripts/automation/setup-all.sh
  manager/interfaces/cli/setup/scripts/automation/validate-system.sh
  manager/interfaces/cli/setup/scripts/dev/build.sh
  manager/interfaces/cli/setup/scripts/dev/format.sh
  manager/interfaces/cli/setup/scripts/dev/lint.sh
  manager/interfaces/cli/setup/scripts/dev/run-tests.sh
  manager/interfaces/cli/setup/scripts/linux/check-requirements.sh
  manager/interfaces/cli/setup/scripts/linux/install-systemd.sh
  manager/interfaces/cli/setup/scripts/linux/troubleshoot.sh
  manager/interfaces/cli/setup/scripts/linux/uninstall.sh
  manager/interfaces/cli/setup/scripts/windows/check-requirements.ps1
  manager/interfaces/cli/setup/scripts/windows/install-service.ps1
  manager/interfaces/cli/setup/scripts/windows/troubleshoot.ps1
  manager/interfaces/cli/setup/scripts/windows/uninstall.ps1
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

feat(setup): implementar suporte a diretórios dinâmicos e geração de arquivos de configuração
  manager/api/services/config/setup_service.go
  manager/interfaces/cli/setup/src/setup.go
Owners: @syntropy-cc/core-team

build(cli): atualizar dependências no go.mod e go.sum, corrigir caminhos de importação
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/setup/TODO.md
  manager/interfaces/cli/setup/src/configuration_windows.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/setup_windows.go
  manager/interfaces/cli/setup/src/validation_windows.go
Owners: @syntropy-cc/core-team

feat(security): implementar validações de segurança e otimizações no setup
  manager/interfaces/cli/setup/coverage.out
  manager/interfaces/cli/setup/src/configuration_linux.go
  manager/interfaces/cli/setup/src/performance.go
  manager/interfaces/cli/setup/src/security.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/setup_linux.go
  manager/interfaces/cli/setup/tests/coverage.out
  manager/interfaces/cli/setup/tests/performance/load_test.go
  manager/interfaces/cli/setup/tests/security/security_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
Owners: @syntropy-cc/core-team

feat(setup): expand documentação de instalação e troubleshooting
  manager/interfaces/cli/setup/GUIDE.md
Owners: @syntropy-cc/core-team

feat(setup): atualizar guia de implementação e arquitetura do componente
  manager/interfaces/cli/setup/GUIDE.md
  rules/component-guide-replication.md
Owners: @syntropy-cc/core-team

refactor(setup): remover arquivos obsoletos e simplificar estrutura do componente
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/setup/src/api_integration.go
  manager/interfaces/cli/setup/src/config/schemas/config.schema.json
  manager/interfaces/cli/setup/src/config/templates/manager.yaml
  manager/interfaces/cli/setup/src/configuration_linux.go
  manager/interfaces/cli/setup/src/configuration_windows.go
  manager/interfaces/cli/setup/src/configurator.go
  manager/interfaces/cli/setup/src/internal/types/errors.go
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/internal/types/setup.go
  manager/interfaces/cli/setup/src/internal/types/validation.go
  manager/interfaces/cli/setup/src/internal/utils/crypto/entropy.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/logger.go
  manager/interfaces/cli/setup/src/performance.go
  manager/interfaces/cli/setup/src/security.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/setup_linux.go
  manager/interfaces/cli/setup/src/setup_test.go
  manager/interfaces/cli/setup/src/setup_windows.go
  manager/interfaces/cli/setup/src/state_manager.go
  manager/interfaces/cli/setup/src/validation_linux.go
  manager/interfaces/cli/setup/src/validation_windows.go
  manager/interfaces/cli/setup/src/validator.go
Owners: @syntropy-cc/core-team

feat(tests): adicionar novas funções de ajuda e refatorar testes de setup
  manager/interfaces/cli/setup/tests/COVERAGE.md
  manager/interfaces/cli/setup/tests/analysis.md
  manager/interfaces/cli/setup/tests/e2e/config_e2e_test.go
  manager/interfaces/cli/setup/tests/e2e/setup_e2e_test.go
  manager/interfaces/cli/setup/tests/e2e/validation_e2e_test.go
  manager/interfaces/cli/setup/tests/fixtures/invalid/key_pair.json
  manager/interfaces/cli/setup/tests/fixtures/invalid/setup_options.json
  manager/interfaces/cli/setup/tests/fixtures/valid/config_options.json
  manager/interfaces/cli/setup/tests/fixtures/valid/environment_info.json
  manager/interfaces/cli/setup/tests/fixtures/valid/key_pair.json
  manager/interfaces/cli/setup/tests/fixtures/valid/setup_options.json
  manager/interfaces/cli/setup/tests/fixtures/valid/setup_state.json
  manager/interfaces/cli/setup/tests/helpers/test_helpers.go
  manager/interfaces/cli/setup/tests/integration/config_integration_test.go
  manager/interfaces/cli/setup/tests/integration/keys_integration_test.go
  manager/interfaces/cli/setup/tests/integration/setup_integration_test.go
  manager/interfaces/cli/setup/tests/integration/state_integration_test.go
  manager/interfaces/cli/setup/tests/integration/validation_integration_test.go
  manager/interfaces/cli/setup/tests/mocks/configurator_mock.go
  manager/interfaces/cli/setup/tests/mocks/key_manager_mock.go
  manager/interfaces/cli/setup/tests/mocks/logger_mock.go
  manager/interfaces/cli/setup/tests/mocks/state_manager_mock.go
  manager/interfaces/cli/setup/tests/mocks/validator_mock.go
  manager/interfaces/cli/setup/tests/performance/config_performance_test.go
  manager/interfaces/cli/setup/tests/performance/setup_performance_test.go
  manager/interfaces/cli/setup/tests/performance/validation_performance_test.go
  manager/interfaces/cli/setup/tests/security/setup_security_test.go
  manager/interfaces/cli/setup/tests/security/validation_security_test.go
  manager/interfaces/cli/setup/tests/unit/configurator_test.go
  manager/interfaces/cli/setup/tests/unit/key_manager_test.go
  manager/interfaces/cli/setup/tests/unit/logger_test.go
  manager/interfaces/cli/setup/tests/unit/setup_additional_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
  manager/interfaces/cli/setup/tests/unit/state_manager_test.go
  manager/interfaces/cli/setup/tests/unit/validator_darwin_test.go
  manager/interfaces/cli/setup/tests/unit/validator_linux_test.go
  manager/interfaces/cli/setup/tests/unit/validator_test.go
  manager/interfaces/cli/setup/tests/unit/validator_windows_test.go
Owners: @syntropy-cc/core-team

refactor(cli): atualizar lógica de setup e gerenciamento de chaves
  manager/interfaces/cli/ERROR_ANALYSIS_AND_FIXES.md
  manager/interfaces/cli/go.mod
  manager/interfaces/cli/go.sum
  manager/interfaces/cli/main-simple.go
  manager/interfaces/cli/main.go
  manager/interfaces/cli/scripts/linux/install-syntropy.sh
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/state_manager.go
Owners: @syntropy-cc/core-team

refactor(cli): unificar arquivos main e atualizar documentação
  manager/interfaces/cli/ERROR_ANALYSIS_AND_FIXES.md
  manager/interfaces/cli/README.md
  manager/interfaces/cli/docs/SIMPLE_BUILD_README.md
  manager/interfaces/cli/install.sh
  manager/interfaces/cli/main-simple.go
  manager/interfaces/cli/scripts/README.md
  manager/interfaces/cli/scripts/linux/build-and-test.sh
  manager/interfaces/cli/scripts/linux/install-syntropy.sh
Owners: @syntropy-cc/core-team, @syntropy-cc/docs-team

refactor(setup): aprimorar lógica de validação e mensagens de erro
  manager/interfaces/cli/setup/src/setup.go
Owners: @syntropy-cc/core-team

refactor(docs): atualizar README.md para refletir nova estrutura de scripts
  manager/interfaces/cli/scripts/README.md
  manager/interfaces/cli/scripts/build-all.ps1
  manager/interfaces/cli/scripts/build-all.sh
  manager/interfaces/cli/scripts/build.bat
  manager/interfaces/cli/scripts/build.sh
  manager/interfaces/cli/scripts/test-build.sh
Owners: @syntropy-cc/docs-team, @syntropy-cc/core-team

refactor(setup): update type reference and rewrite tests
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
Owners: @syntropy-cc/core-team

refactor(tests): update unit tests to match current implementation
  manager/interfaces/cli/setup/coverage.out
  manager/interfaces/cli/setup/examples/automated-testing/example2_validation.go
  manager/interfaces/cli/setup/examples/automated-testing/example3_configuration.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/tests/e2e/config_e2e_test.go
  manager/interfaces/cli/setup/tests/e2e/setup_workflow_test.go
  manager/interfaces/cli/setup/tests/e2e/validation_e2e_test.go
  manager/interfaces/cli/setup/tests/integration/setup_integration_test.go
  manager/interfaces/cli/setup/tests/performance/config_performance_test.go
  manager/interfaces/cli/setup/tests/performance/load_test.go
  manager/interfaces/cli/setup/tests/performance/validation_performance_test.go
  manager/interfaces/cli/setup/tests/security/validation_security_test.go
  manager/interfaces/cli/setup/tests/types/types.go
  manager/interfaces/cli/setup/tests/unit/benchmark_test.go
  manager/interfaces/cli/setup/tests/unit/configurator_test.go
  manager/interfaces/cli/setup/tests/unit/key_manager_test.go
  manager/interfaces/cli/setup/tests/unit/logger_test.go
  manager/interfaces/cli/setup/tests/unit/services_test.go
  manager/interfaces/cli/setup/tests/unit/setup_additional_test.go
  manager/interfaces/cli/setup/tests/unit/setup_test.go
  manager/interfaces/cli/setup/tests/unit/state_manager_test.go
  manager/interfaces/cli/setup/tests/unit/types_test.go
  manager/interfaces/cli/setup/tests/unit/utils_test.go
  manager/interfaces/cli/setup/tests/unit/validator_auxiliary_test.go
  manager/interfaces/cli/setup/tests/unit/validator_linux_test.go
  manager/interfaces/cli/setup/tests/unit/validator_test.go
Owners: @syntropy-cc/core-team

feat(setup): add test mode support and improve validation
  TEST_RESULTS_SUMMARY.md
  manager/api/services/validation/security/security_validator.go
  manager/interfaces/cli/setup/src/internal/types/config.go
  manager/interfaces/cli/setup/src/internal/types/interfaces.go
  manager/interfaces/cli/setup/src/key_manager.go
  manager/interfaces/cli/setup/src/setup.go
  manager/interfaces/cli/setup/src/types.go
  manager/interfaces/cli/setup/src/validator.go
  manager/interfaces/cli/setup/tests/e2e/setup_e2e_test.go
  manager/interfaces/cli/setup/tests/mocks/services_mock.go
  manager/interfaces/cli/setup/tests/performance/load_test.go
  manager/interfaces/cli/setup/tests/performance/setup_performance_test.go
  manager/interfaces/cli/setup/tests/security/setup_security_test.go
  manager/interfaces/cli/setup/tests/unit/benchmark_test.go
  manager/interfaces/cli/setup/tests/unit/configurator_test.go
  manager/interfaces/cli/setup/tests/unit/key_manager_test.go
Owners: @syntropy-cc/core-team

refactor(docs): update architecture documentation and API references
  docs/architecture/ANALYSIS-SUMMARY.md
  docs/architecture/FINAL-SUMMARY.md
  docs/architecture/INTEGRATION-COMPLETE.md
  docs/architecture/MVP-CORRECTIONS.md
  docs/architecture/MVP.md
  docs/architecture/ORCHESTRATION-SUMMARY.md
  docs/architecture/README.md
  docs/architecture/WORKLOAD-COMPONENT-SPEC.md
  manager/interfaces/cli/setup/docs/API.md
  manager/interfaces/cli/setup/docs/DEV.md
  manager/interfaces/cli/setup/docs/DOC.md
  manager/interfaces/cli/setup/docs/LEARN.md
  manager/interfaces/cli/setup/docs/TEST.md
Owners: @syntropy-cc/docs-team, @syntropy-cc/core-team

.github/CODEOWNERS:

# Global owners
* @syntropy-cc/core-team

# Infrastructure
/infrastructure/ @syntropy-cc/infrastructure-team
/platform/ @syntropy-cc/platform-team
/scripts/ @syntropy-cc/devops-team

# Services
/services/ @syntropy-cc/backend-team
/services/security/ @syntropy-cc/security-team
/services/blockchain/ @syntropy-cc/blockchain-team

# Mobile
/mobile/ @syntropy-cc/mobile-team
/sdk/mobile/ @syntropy-cc/mobile-team

# Web
/web/ @syntropy-cc/frontend-team

# Documentation
/docs/ @syntropy-cc/docs-team
README.md @syntropy-cc/docs-team
CONTRIBUTING.md @syntropy-cc/docs-team

# Security
SECURITY.md @syntropy-cc/security-team
/tools/security/ @syntropy-cc/security-team

# Legal
/legal/ @syntropy-cc/legal-team
